<div class="main">

  <section id="landing">
    <nav>
      <ul>
        <li id="toAbout">about</li>
        <li id="toStudents">students</li>
        <li id="toGa">general assembly</li>
      </ul>
    </nav>
  <header><h1>General Assembly Web Development Immersive </h1></header>
  </section>
  <section id="about"></section>
  <section id="students">
    <div id="student-names">
      <%= render 'names' %>
    </div>
    <div id="student-page">

    </div>
  </section>
  <section id="ga">
    <div id="footer">
      <footer>coded with love</footer>
    </div>
  </section>

</div>
