<div class="main">

  <section id="landing">
    <div class="banner">
      <header>
        <h2>general assembly // <span>fall 2013</span></h2>
        <h1>WEB DEVELOPMENT IMMERSIVE</h1>
      </header>
    </div>
  </section>
  <section id="about">
    <div class="container">
      <header>
        <h3>12 weeks. All Day. Every Day.</h3>
      </header>
      <div class="arrow">
      </div>
      <div class="trio one-third column">
        <header>
          <h4>curriculum</h4>
        </header>
        <%= image_tag('curriculum.svg') %>
        <p>
          HTML, CSS, Ruby, Javascript, Rails, Backbone, Rspec, Jasmine and SQL are just some of the languages and frameworks we know.
        </p>
      </div>
      <div class="trio one-third column">
        <header>
          <h4>foundation</h4>
        </header>
        <%= image_tag('foundation.svg') %>
        <p>
          We have a strong foundation in fundamental computer science concepts like data structures and algorithms to optimize processes.
        </p>
      </div>
      <div class="trio one-third column">
        <header>
          <h4>teamwork</h4>
        </header>
        <%= image_tag('team.svg') %>
        <p>
          We're team players who've worked with Git, Github, and Pivotal Tracker. We're trained in TDD/BDD and Agile so we'll integrate smoothly into your team.
        </p>
      </div>
    </div>
  </section>
  <section id="students">
    <div class="container">
      <header>
        <h3>Meet Us.</h3>
      </header>
      <div id="student-names">
        <%= render 'names' %>
      </div>
      <div id="student-page">
        <ul id="student-info"></ul>
      </div>
    </div>
  </section>
  <section id="ga">
    <div class="most">
      <header>
        <h3>Special Thanks</h3>
      </header>
        <div class="container">
        <p class="two-third column">
          We could not have survived this journey without the guidance of our fearless leaders, <a href="https://generalassemb.ly/instructors/peter-lai/1722">Peter</a>, <a href="https://generalassemb.ly/instructors/philip-hughes/1685">PJ</a>, and  <a href="https://generalassemb.ly/instructors/jeffrey-konowitch/1684">Jeff</a>. <p> They helped to instill confidence in ourselves and gave us the skills necessary to accomplish the greatly daunting task of becoming Web Developers. They struggled with us day and night, through every error message, through every project, through every doubt. It’s hard to express the adoration and gratitude that we have for them and all they they have helped us to achieve. Also, special thanks to our program producer, Kristin, who brought us surprise cookies.
        </p>
        <header>
          <h5>
            <a href="https://generalassemb.ly/education/web-development-immersive">Interested in General Assembly?</a>
          </h5>
        </header>
      </div>
    </div>
    <div id="footer">
      <footer>
        <p class="tiny">
          Book, Supplies, and Team graphics made by <a href="http://thenounproject.com/Gatada/">Johan H. W. Basberg</a>, <a href="http://thenounproject.com/johncaserta/">John Caserta</a>, and <a href="http://thenounproject.com/shanemilleryeah/">Shane Miller</a> of <a href="http://thenounproject.com">The Noun Project</a>. Photos by Tea Ho.
        </p>
        <p class="tiny">
          This website was hand-rolled by <a href="http://teaholoves.me">Tea Ho</a> &amp; <a href="http://mckenneth.com">McKenneth Scott III</a>
        </p>
      </footer>
    </div>
  </section>

</div>
