<div class="main">

  <section id="landing">
    <nav>
      <ul>
        <li id="toAbout">about</li>
        <a id="toStudents" href="#students"><li>students</li></a>
        <a id="toGa" href="#ga"><li>general assembly</li></a>
      </ul>
    </nav>
  </section>
  <section id="about"></section>
  <section id="students"></section>
  <section id="ga">
    <div id="footer">
      <footer>coded with love</footer>
    </div>
  </section>

</div>
