<div class="main">

  <section id="landing">
    <div class="banner">
      <header>
        <h2>general assembly // <span>fall 2013</span></h2>
        <h1>WEB DEVELOPMENT IMMERSIVE</h1>
      </header>
    </div>
  </section>
  <section id="about">
    <header>
      <h3>12 weeks. All Day. Every Day.</h3>
    </header>
    <div class="arrow">
    </div>
    <div class="trio-case">
      <div class="trio">
        <header>
          <h4>curriculum</h4>
        </header>
        <%= image_tag('curriculum.svg') %>
        <p>
          HTML, CSS, Ruby, Javascript, Rails, Backbone, Rspec, Jasmine and SQL are just some of the languages and frameworks we know.
        </p>
      </div>
      <div class="trio">
        <header>
          <h4>foundation</h4>
        </header>
        <%= image_tag('foundation.svg') %>
        <p>
          We have a strong foundation in fundamental computer science concepts like data structures and algorithms to optimize processes.
        </p>
      </div>
      <div class="trio">
        <header>
          <h4>teamwork</h4>
        </header>
        <%= image_tag('team.svg') %>
        <p>
          We're team players who've worked with Git, Github, and Pivotal Tracker. We're trained in TDD/BDD and Agile so we'll integrate smoothly into your team.
        </p>
      </div>
    </div>
  </section>
  <section id="students">
    <div id="student-names">
      <%= render 'names' %>
    </div>
    <div id="student-page">
      <ul id="student-info"></ul>
    </div>
  </section>
  <section id="ga">
    <header>
      <h2>Our Instructors</h2>
    </header>
    <div id="about-instructors">
      <div class="instructor">
        <h3>Jeff</h3>
        <p class="summary">
          Jeff loves schmeeeeee.
        </p>
      </div>
      <div class="instructor">
        <h3>PJ</h3>
        <p class="summary">
          PJ was never an aristocrat.
        </p>
      </div>
      <div class="instructor">
        <h3>Peter</h3>
        <p class="summary">
          Peter is a ball of sunshine.
        </p>
      </div>
    </div>
    <header>
      <h2>Interested in General Assembly?</h2>
    </header>
    <div id="footer">
      <footer>coded with love</footer>
    </div>
  </section>

</div>
