<div class="main">

  <section id="landing">
    <header><h1>General Assembly Web Development Immersive </h1></header>
  </section>
  <section id="about">
    <header>
      We went from not programmers to programmers in 12 weeks.
    </header>
  </section>
  <section id="students">
    <div id="student-names">
      <%= render 'names' %>
    </div>
    <div id="student-page">
      <ul id="student-info"></ul>
    </div>
  </section>
  <section id="ga">
    <header>
      <h2>Our Instructors</h2>
    </header>
    <div id="about-instructors">
      <div class="instructor">
        <h3>Jeff</h3>
        <p class="summary">
          Jeff loves schmeeeeee.
        </p>
      </div>
      <div class="instructor">
        <h3>PJ</h3>
        <p class="summary">
          PJ was never an aristocrat.
        </p>
      </div>
      <div class="instructor">
        <h3>Peter</h3>
        <p class="summary">
          Peter is a ball of sunshine.
        </p>
      </div>
    </div>
    <header>
      <h2>Interested in General Assembly?</h2>
    </header>
    <div id="footer">
      <footer>coded with love</footer>
    </div>
  </section>

</div>
