<div class="main">

  <section id="landing"></section>
  <section id="about"></section>
  <section id="students"></section>
  <section id="ga">
    <div id="footer">
      <footer>coded with love</footer>
    </div>
  </section>

</div>
