#landing {
  background: url(general-assembly-realer.jpg);
  background-size: cover;
}

#about {
  background-color: rgba(0, 0, 0, .8);
}

#students {
  background-color: rgba(0, 0, 0, .3);
}

#ga {
  background-color: rgba(0, 0, 0, .8);
}
body {
  color: red;
}

#student-page {
  width: 500px;
  height: 500px;
  border: 2px solid black;

}

nav {
  background-color: black;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 50px;
}

section {
  margin-top: 50px;
}
