#landing {
  background: url(https://dl-web.dropbox.com/get/ga-headshots-bw/general-assembly-realer.jpg?w=AABE4WFenOTd87pvMy5bhYLYB4Oonx8QX35L7sBSM2SaKg);
  background-size: cover;
}

body {
  color: white;
}
