/*GENERAL TEXT*/

.get_student {
  font-family: 'Roboto Slab', serif;
  color: white;
  display: inline;
}

.get_student:hover {
  cursor: pointer;
}

.shout {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

p {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, .7);
  font-size: 1.5em;
  margin: 1em;
  line-height: 1.3em;
}


/*SECTIONS*/

#landing {
  background: url(general-assembly-real2.jpg);
  background-size: cover;
}

#about {
  background-color: firebrick;
}

#students {
  background-color: goldenrod;
  text-align: center;
}

#ga {
  background-color: firebrick;
}

.trio-case {
  width: 80%;
  height: 60%;
  margin: 0 auto;
  text-align: center;
}

section {
  margin-top: 50px;
}

#student-page {
  width: 60%;
  height: 500px;
  border: 2px solid black;
  margin: 0 auto;

}

.trio {
  display: inline-block;
  width: 25%;
  height: 100%;
  border-radius: 50px;
  margin: 2em 2em 1em;
  background-color: white;
}

.arrow {
  width: 60%;
  margin: 3em auto;
}

/*HEADERS*/

.banner h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.2em;
  position: absolute;
  top: 0;
  margin-top: 1.2em;
  margin-left: 26px;
  display: inline-block;
  width: 300px;
  color: red;
}

.banner h2 {
  margin-top: 1.2em;
  margin-left: 26px;
  color: white;
  font-family: 'Roboto Slab', serif;
  position: absolute;
  top: 0;
}

h3 {
  font-family: 'Roboto Slab', serif;
  color: white;
  text-align: center;
  font-size: 4em;
  padding-top: 1em;
}

h4 {
  font-family: 'Roboto Slab', serif;
  color: firebrick;
  padding: 1em;
  font-size: 2em;
}

/*NAV*/
nav {
  background-color: black;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 50px;
  text-align: right;
}


nav ul li {
  display: inline-block;
  margin: 1em 2em;
  font-family: 'Roboto Slab', serif;
  color: white;
}

nav ul li:last-child {
  margin-right: 4em;
}

nav li:hover {
  cursor: pointer;
  color: yellow;
}

/*SHAPES*/

.banner {
  width: 0;
  height: 0;
  border-top: 200px solid rgba(0, 0, 0, 1);
  border-right: 300px solid transparent;
  margin-top: 100px;
  margin-left: 2em;
}

.banner:before {
  content: "";
  width: 300px;
  height: 100px;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  border-top: 5px solid red;
  top: 0;
}

.banner:after {
  content: "";
    width: 0;
    height: 0;
    border-top: 200px solid rgba(0, 0, 0, 1);
    border-left: 300px solid transparent;
}

/*IMAGES*/

.photo {
  border-radius: 50%;
  float: left;
}
