/*GENERAL TEXT*/

body {
  color: red;
  font-family: Helvetica;
}

/*SECTIONS*/
#landing {
  background: url(general-assembly-realer.jpg);
  background-size: cover;
}

#about {
  background-color: rgba(0, 0, 0, .8);
}

#students {
  background-color: rgba(0, 0, 0, .3);
}

#ga {
  background-color: rgba(0, 0, 0, .8);
}

section {
  margin-top: 50px;
}

#student-page {
  width: 500px;
  height: 500px;
  border: 2px solid black;

}

/*HEADERS*/

h1 {
  background-color: black;
  width: 300px;
  height: 100px;
}

/*NAV*/
nav {
  background-color: black;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 50px;
}


nav li {
  float: right;
  display: inline;
  margin: 1em 3em;
}

nav li:hover {
  cursor: pointer;
  color: yellow;
}
