<!DOCTYPE html>
<html>
<head>
  <title>GA</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700italic|Roboto|Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav>
    <ul>
      <a href="#about"><li id="toAbout">the program</li></a>
      <a href="#students"><li id="toStudents">the students</li></a>
      <a href="#ga"><li id="toGa">interested?</li></a>
    </ul>
  </nav>
<%= yield %>
</body>
</html>
